[submodule "skynet-keys"]
	path = skynet-keys
	url = git@github.com:codius/skynet-keys
[submodule "validation-keys"]
	path = validation-keys
	url = git@github.com:codius/validator-keys
[submodule "roles/rippled"]
	path = roles/rippled
	url = git@github.com:ripple/rippled-ansible-role
